<div>
    <div>
        <div>Logo</div>
        <div>Search box</div>
    </div>
    <div>
        <p>
            <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                Toggle with Function
            </button>
            <button type="button" class="btn btn-outline-primary ms-2" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                Toggle with Two Way Binding
            </button>
        </p>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="card">
                <div class="card-body">You can collapse this card by clicking one Toggle button</div>
            </div>
        </div>
    </div>
</div>